doctype html
html
  
  include ../partials/head.jade
    
  body
  
    include ../partials/nav.jade
    
    .main
      h1 About
      p Cultural Assets Map is a community project for Salt Lake arts and performance organizations. The project is operated by students of Westminster College's Arts Administration program.
    
    include ../partials/bottom.jade
