svg(viewBox="0 0 86 56")
	g
		polygon(class="logo-leftPanel", points="73.02,48.801 73.02,7.603 61.794,14.084 61.794,55.282")
		polygon(class="logo-leftPanel", points="24.115,48.801 24.115,7.603 12.889,14.084 12.889,55.282")
		polygon(class="logo-rightPanel", points="85.246,55.282 85.246,14.084 74.02,7.603 74.02,48.801")
		polygon(class="logo-rightPanel", points="11.889,42.897 1.163,49.09 11.889,55.282")
		polygon(class="logo-leftPanel", points="11.889,41.742 11.889,0.544 0.663,7.025 0.663,48.224")
		path(class="logo-leftPanel", d="M43.092,13.568c2.133,0,4.063,0.854,5.476,2.237V7.603l-11.226,6.481v2.011 C38.772,14.545,40.815,13.568,43.092,13.568z")
		polygon(class="logo-leftPanel", points="43.092,37.676 37.341,27.199 37.341,55.282 48.567,48.801 48.567,27.699")
		circle(class="logo-leftPanel", cx="43.092", cy="21.401", r="2.78")
		path(class="logo-rightPanel", d="M49.567,7.603v9.393c0.855,1.255,1.357,2.772,1.357,4.406c0,1.285-0.314,2.495-0.864,3.565h0.008 l-0.058,0.105c-0.024,0.046-0.05,0.092-0.076,0.137l-0.367,0.669v22.923l11.227,6.481V14.084L49.567,7.603z")
		path(class="logo-rightPanel", d="M36.255,25.22c-0.029-0.052-0.058-0.104-0.086-0.157l-0.053-0.096h0.007 c-0.549-1.07-0.864-2.28-0.864-3.565c0-1.446,0.399-2.796,1.083-3.959v-3.358L25.115,7.603v41.198l11.226,6.481V25.377 L36.255,25.22z")
