nav
  a.logo-container(href="index.html")
    include logo.jade
    h1.title Cultural Asset Maps
  hr
  ul.nav-list
    li.nav-item: a.nav-link(href="index.html") Map
    li.nav-item: a.nav-link(href="about.html") About
    li.nav-item: a.nav-link(href="contact.html") Contact
    li.nav-item: a.nav-link(href="submit.html") Submit
  small.copyright &copy; 2016 Cultural Asset Maps
  
  button.nav-toggle Menu &nbsp; #[i.fa.fa-angle-down]
